<div class="row">

        <div class="col-md-10">
      
        </div>
        <div class="col-md-2">
          <!-- status component here -->  
          <app-status></app-status>
        </div>
      
        <div class="col-md-10">
      
        </div>
        <div class="col-md-12" style="padding-top: 20%"> </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center" > 
            <!-- opener component here -->  
            <app-opener></app-opener>
        </div>
        <div class="col-md-4"></div>
      
      </div>